@media screen and (max-width: 767px){
	body {
	position: relative;
	min-height: 100vh;
	padding-bottom: 22em;
	}
	footer {
	margin: auto;
	position: absolute;
	bottom: 0;
	width: 100%;
	}
	.container{
	width: 100%;
	}
	.nav-brand{
	height: 300px;
	}
	.formulario{
	width: 300px;
	}
	input[type=text],[type=email]{
	width:270px;
	height:25px;
	font: 14px normal normal uppercase helvetica, arial, serif;
	}

	textarea{
	width:270px;
	height:170px;
	font: 14px normal normal uppercase helvetica, arial, serif;
	}

	input[type=submit]{
	position:relative;
	width:80px;
	height:25px;
	border-radius:5px;
	margin-left: 88px;
	border:0px;
	font: 10px normal normal uppercase helvetica, arial, serif;
	}
}

@media screen and (max-width: 600px){
	.nav-main{
		background-color: #000000;
	}
	.nav-menu{
		flex-direction: column;
		align-items: center;
		margin-right: 20px;
		background-color: #616A6B;
		position: fixed;
		left: 0;
		top: 40px;
		width: 100%;
		padding: 20px 0;

		height: calc(100% - 170px);
		overflow-y: auto;

		left: 100%;
		opacity: 0.9;
		transition: left 0.3s;
	}
	.nav-toggle{
		display: block;
	}
	.nav-menu_visible{
		left: 0;
	}
	.contacto1{
	padding-bottom: 50px;
	}
	.contacto3{
	padding-bottom: 40px;
	}
}


@media screen and (max-width: 300px){
	.formulario{
	width: 200px;
	}
	input[type=text],[type=email]{
	width:170px;
	height:25px;
	font: 10px normal normal uppercase helvetica, arial, serif;
	}

	textarea{
	width:170px;
	height:150px;
	font: 10px normal normal uppercase helvetica, arial, serif;
	}

	input[type=submit]{
	position:relative;
	width:30px;
	height:25px;
	border-radius:5px;
	margin-left: 70px;
	border:0px;
	font: 8px normal normal uppercase helvetica, arial, serif;
	}
}

@media screen and (max-width: 300px){
	body {
		position: relative;
		min-height: 100vh;
		padding-bottom: 40em;
	}
	footer {
		position: absolute;
	}
}
@media screen and (min-height: 720px){
	body {
		position: relative;
	}
	footer {
		position: absolute;
	}
	.contacto1{
	padding-bottom: 100px;
	}
}

@media screen and (min-height: 730px){
	body {
		position: relative;
	}
	footer {
		position: absolute;
	}
	.nav-information{
		padding-bottom: 13em;
	}
	.misionyvision2{
		padding-bottom: 3em;
	}
	.servicios3{
		padding-bottom: 4em;
	}
	.nav-dondetrabajamos{
		padding-bottom: 16em;
	}
	.casasdesepelio2{
		padding-bottom: 17em;
	}
	.contacto1{
	padding-bottom: 150px;
	}
	.contacto3{
	padding-bottom: 20px;
	}
}
@media screen and (min-height: 800px){
	body {
		position: relative;
	}
	footer {
		position: absolute;
	}
	.nav-information{
		padding-bottom: 20em;
	}
	.misionyvision2{
		padding-bottom: 10em;
	}
	.servicios3{
		padding-bottom: 8em;
	}
	.nav-dondetrabajamos{
		padding-bottom: 22em;
	}
	.casasdesepelio2{
		padding-bottom: 25em;
	}
	.contacto1{
	padding-bottom: 215px;
	}
	.contacto3{
	padding-bottom: 20px;
	}
}
@media screen and (min-width: 967px){
	.contacto1{
	padding-bottom: 50px;
	}
	.contacto3{
	padding-bottom: 20px;
	}
}
@media screen and (min-height: 1024px){
	.contacto1{
	padding-bottom: 50px;
	}
	.contacto3{
	padding-bottom: 20px;
	}
}