@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#menu li > a {
  font-size:18px;
  font-weight:bold;
  color:#3f3f3f;
}

#menu form > button {
  font-size:18px;
  font-weight:bold;
}

.carousel-inner{
  max-height: 30rem;
}




@media (max-width: 768px) {
  #intro, #equipo {
    width: 90% !important;
  }

  #equipo p{
    display: none;
  }

  .servicio-fila{
    width: 100% !important;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .icono-wrap{
    flex-wrap: wrap;
    justify-content: center !important;
  }
}

#local{
  background: #f3f3f3;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 50%;
  margin-left: 100px;
  padding-top: 100px;
}

@media(max-width: 967px) {
  #local {
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .wrapper {
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
}

#seccion-contacto{
  background-color: #1b2a4e;
  min-height: 700px;
  position: relative;
}
#Contactoimg{
  width: 80px;
  height: 80px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#contenedor-formulario{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fbfafa;
  border-radius: 5px;
  max-width: 500px;
}

#titulo-formulario{
  color: #3f3f3f;
}


footer {
  background: #1b2a4e;
  min-height: 100px;
  width: 100%;
  bottom: 0;
  margin: auto;
}

footer p {
  color: #f3f3f3;
  text-align: center;
}

#iconos svg{
  color: #f3f3f3;
  margin: 15px 5px;
}
#iconos a{
  text-decoration: none;
}
.btn-primary{
  font-weight: bold;
}
.telefonoicono{
  color: #f3f3f3;
}
table thead{
  background: #302b63;
  color: white;
}
.grupomiembros{
  margin-bottom: 10vh;
}
.buttonclass{
  margin-bottom: 20vh;
}